* {
    background: #E5E5E5;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    line-height: 150%;
} 

.logoAlura {
    margin-left: 40px;
    padding-top: 40px;
    width: 6%;
}

main {
    display: flex;
    margin-top: 40px;
    margin-left: 80px;
}

.text-area {
    border: none;
    color: #0A3871;
    font-size: 32px;
    margin-top: 90px;
    margin-left: 240px;
    text-transform: lowercase;
}

::placeholder {
    color: #0A3871;
}
.text-area:focus {
    outline: none;
}

.mensagem {
    background: white;
    font-size: 24px;
    border: none;
    border-radius: 24px;
    color: #0A3871;
    margin-left: 98px;
    margin-top: 20px;
    padding-left: 20px;
    position: relative;
}

.mensagem.bg-image {
    background-image: url(/Imagens/boneco.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center; 
}

.botoes {
    display: flex;
    gap: 10px; 
    margin-top: 18px;
}

.btn-descriptar {
    background: #D8EFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    width: 328px;
}

.btn-encriptar {
    background-color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #FFFFFF;
    cursor: pointer;
    height: 67px;
    width: 328px;
}

.btn-copiar {
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    margin-left: 108px;
    margin-top: 20px; 
    height: 67px;
    position: relative; 
    width: 336px;
}

.informacao {
    color: #495057;
    display: flex;
    align-items: center; 
    gap: 8px; 
}

.informacao img {
    width: 16px;
    height: 16px;
    object-fit: contain;
}
